name: Dependency Audit
on: workflow_dispatch
# on:
#   pull_request:
#     paths: 
#       - '**/Cargo.toml'
#       - '**/Cargo.lock'
jobs:
  security_audit:
    name: Audit
    runs-on: ubuntu-latest
    steps:
      - name: Code checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Dependencies audit
        uses: actions-rs/audit-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}